


.head {
  background-color: #e1fffa;
  text-align: center;
  /* padding: 25px; */
  /* height: 100px; */
  margin-top: 60px;
}

.head h1 {
  margin-top: 20px;
}

.second {
  display: flex;
  flex-direction: column;
}

.out-box-2 {
  /* padding: 5% 10%; */
  padding: 5% 0 5% 10%;
  background-color: #e1fffa;

}

.out-box-1 {
  /* padding: 5% 10%; */
  padding: 5% 10% 5% 0;
  background-color: #e1fffa;

}

.about-main {
  padding: 5% 10% 5% 0;
  /* margin: 0; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.scholar-2-content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 42%;
  padding: 5px 30px;
  height: 97%;
}

.scholar-2-content h1 {
  margin-left: 10px;
}

.scholar-1-content h1 {
  margin-left: 10px;
  margin-top: 10px;
}

.scholar-2-content p {
  font-size: 19px;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  padding: 15px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.scholar-2 {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px grey;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("./scholar.png");
  background-size: 100% 100%;
  padding: 3% 3%;
  background-color: rgb(208, 253, 255);
}

.scholar-1-content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 42%;
  padding: 5px 30px;
  /* height: 97%; */
}

.scholar-1-content p {
  font-size: 19px;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  padding: 10px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.scholar-1 {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px grey;
  /* height: 550px; */
  background-repeat: no-repeat;
  background-image: url("./monitor-img.jpg");
  background-size: 100% 100%;
  padding: 3% 3%;
  display: flex;
  justify-content: right;
  background-color: rgb(208, 253, 255);
}

/* .scholar img{
    height: 600px;
    width: 97%;
    box-shadow: 0px 0px 10px grey;
} */
.monitor {
  height: 100px;
  background-color: cadetblue;
}

.Contact {
  height: 550px;
  /* width: 100%; */
  background-color: #D8B5FF;
  padding: 5% 10%;
}


.form {
  width: 50%;
  height: 450px;
  border: 2px solid black;
}

.contact-bigbox {
  padding: 20px;
  height: 500px;
  width: 97%;
  background-color: #98fff0;
  display: flex;
  gap: 7%;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 20px;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 80px;
}

.rightdiv {
  /* width: 30%; */
  /* margin-right: 8%; */
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  /* background-color: #ffffff; */
  padding: 30px;
}

.icons {
  font-size: 70px;
  margin-bottom: 5px;
}

.rigthdivcard:hover {
  box-shadow: 0px 0px 5px rgb(105, 105, 105);
}

.rigthdivcard {
  width: auto;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  height: auto;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome-content {
  height: 350px;
  display: flex;
  /* justify-content: center; */
  /* background-color: #00bbbb; */
  /* flex-direction: column; */
  justify-content: left;
  width: 630px;

}

.welcome-note {
  padding: 30px;
  text-align: center;

  /* margin: 3%; */
  /* height: 80%; */
  /* width: 40%; */
  /* border: 1px solid black; */
}


.welcome-note h1 {
  margin: 10px;
  margin-top: 30px;
  /* font-size: 3.2em; */
  font-size: 3vw;
}

.about-box {
  /* height: 680px; */
  padding: 10px;
  background-color: rgb(215, 250, 241);
  /* background-image: url("./background-image.png"); */
  /* background-size: cover; */
  /* display: flex; */
  /* gap: 30%; */
  /* width: 100%; */
  /* justify-content: center; */
}

.about-content p {
  /* height: 650px; */
  font-size: 21px;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* padding: 15px; */
  /* letter-spacing: 1px; */
  word-spacing: 3px;
  /* text-align: justify; */
  /* background-color: #00fbff; */

}

.about-content {
  /* flex-basis: 45%; */
  /* width: auto; */
  /* background-color: rgb(164, 255, 247); */
  background: transparent;
  color: rgb(0, 0, 0);
  padding: 7% 10%;
  /* margin: 10px; */
  border-radius: 5%;
}

.about-content h1 {
  margin-left: 15px;
  margin: 15px;
}

.welcome-note h2 {
  font-size: 28px;
  color: #0c8997;
  /* margin-top: 10px; */
}

.welcome-note p {
  margin: 10px;
  margin-top: 30px;
  font-size: 16px;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* padding: 15px; */
  text-align: justify;
  letter-spacing: 1px;
  word-spacing: 5px;
}


@media only screen and (max-width: 750px) {
  .welcome-note h1 {
    font-size: 17px;
  }

  .welcome-content {
    height: 200px;
  }

  .main {
    flex-wrap: wrap;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
  }

  .welcome-note h2 {
    font-size: 22px;
    /* background-color: #D8B5FF; */
  }

  .welcome-note p {
    font-size: 15px;
    margin: 20px 0px;
    /* background-color: #D8B5FF; */
  }

  .welcome-note {
    width: auto;
    padding: 10px;
    /* width: 100%; */

  }

 

  .scholar-1 {
    background-image: none;
    background-size: auto;
    padding: 3% 3%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    height: auto;
    margin: auto;
  }

  .scholar-1-content h1 {
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid black;
  }

  .scholar-1-content p {
    font-size: 16px;
    text-align: justify;

  }

  .scholar-1-content {
    width: auto;
    padding: 0;
    height: auto;
  }

  .out-box-1 {
    padding: 0;
  }

  .about-main {
    padding: 0;
    background-color: #dafef6;
  }

  .about-box {
    /* background-image: none;
  background-size: auto; */
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    height: auto;
    margin: auto;
    width: auto;
  }

  .about-content {
    width: auto;
    padding: 0;
    margin: 0;
    height: auto;
  }

  .about-content p {
    font-size: 18px;
    text-align: justify;
    padding: 0;
    margin: 0;
  }

  .about-content h1 {
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid black;
  }

  .scholar-2 {
    background-image: none;
    background-size: auto;
    padding: 3% 3%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    height: auto;
    margin: auto;
  }

  .scholar-2-content h1 {
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid black;
  }

  .scholar-2-content p {
    font-size: 16px;
    text-align: justify;

  }

  .scholar-2-content {
    width: auto;
    padding: 0;
    height: auto;
  }

  .out-box-2 {
    padding: 0;
  }

}



* {
  margin: 0;
  padding: 0;
  /* background-color: rgb(255, 181, 181); */
}



